.container {
    width: 600px;
    min-width: 600px;
}

.ingredients_scroll {
    overflow: auto;
    max-height: 400px;
}

.composition_list_item_children {
    flex-grow: 1;
}

.empty-element_default {
    padding: 16px 24px;
    display: inline-block;
    border-radius: var(--common-border-radius-s);
    background: var(--background-element);
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-element_top {
    composes: empty-element_default;
    border-radius: var(--top-constructor-item-border-radius);
}

.empty-element_bottom {
    composes: empty-element_default;
    border-radius: var(--bottom-constructor-item-border-radius);
}

.empty-element__text {
    text-align: center;
}