.container {
  background: var(--bg-color_element);
  height: 88px;
}

.link {
  text-decoration: none;
  color: white;
}

.list {
  list-style: none;
}

.p {
  white-space: nowrap;
  text-overflow: ellipsis;
}
